<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="orange">
<form action="" method="post">
    <p>
        <label for="name">Name</label>
        <input type="text" name="name">
        <input type="reset">
    </p>
    <p>
        <label for="surname">Surname</label>
        <input type="text" name="surname">
        <input type="reset">
    </p>
    <p>
        <label for="telephone">Telephone</label>
        <input type="text" name="telephone">
        <input type="reset">
    </p>
    <p>
        <label for="age">Age</label>
        <input type="text" name="age">
        <input type="reset">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
<a href="http://127.0.0.1:5000/users">Перейти на страницу /users</a>
</body>
</html>
